doctype html
html
    head
        link(rel="stylesheet" href="/static/semantic.min.css")
        link(rel="stylesheet" href="/static/color-picker.min.css")
        link(rel="stylesheet" href="/static/application.css")
        link(rel="stylesheet" href="/static/spinner.css")
        link(rel="stylesheet" href="/static/popup.css")

        script(type="text/javascript" src="/static/jquery-3.3.1.min.js")
        script(type="text/javascript" src="/static/underscore-min.js")
        script(type="text/javascript" src="/static/color-picker.min.js")
        script(type="text/javascript" src="/static/semantic.min.js")
        script(type="text/javascript" src="/static/application.js")

    body
        .fluid-container
            .card
                h2 Spinner Settings

                include spinner/spinner.pug

                form.ui.form(action="/app/spinner_settings" method="post")
                    table.ui.table
                        thead
                            th Gravity
                            th Background
                            th Outline
                            th Text
                            th Amount
                            th Discount Code
                            th Redirect Path
                            th Description
                        tbody#peg-settings
                            each _, i in Array(10)
                                tr(data-index=i)
                                    td
                                        input(type="text" name="gravity")
                                    td
                                        input.color-picker-input.background-color(type="text" name="background-color" value="#e7e7e7")
                                    td
                                        input.color-picker-input.outline-color(type="text" name="outline-color" value="#d6d6d6")
                                    td
                                        input.color-picker-input.numbers-color(type="text" name="numbers-color" value="#000000")
                                    td
                                        input.amount(type="text" name="amount" value="10%" style="width: 60px;")
                                    td
                                        input(type="text" name="discount-code")
                                    td
                                        input(type="text" name="redirect")
                                    td
                                        input(type="text" name="description")

            .card
                h2 Popup Settings

                include spinner/popup.pug

                form.ui.form(action="/app/spinner_settings" method="post")
                    h4 Popup

                    .ui.equal.width.grid
                        .column
                            .field
                                label Background
                                input.color-picker-input(type="text" name="primary-color" id="primary-color")
                        .column
                            .field
                                label Border
                                input.color-picker-input(type="text" name="secondary-color" id="secondary-color")
                        .column
                            .field
                                label Text
                                input.color-picker-input(type="text" name="secondary-color" id="secondary-color")
                    h4 Button

                    .ui.equal.width.grid
                        .column
                            .field
                                label Background
                                input.color-picker-input(type="text" name="primary-color" id="primary-color")
                        .column
                            .field
                                label Border
                                input.color-picker-input(type="text" name="secondary-color" id="secondary-color")

                        .column
                            .field
                                label Text
                                input.color-picker-input(type="text" name="secondary-color" id="secondary-color")
                    h4 Content

                    .field
                        label Header
                        input(type="text")

                    .field
                        label Body
                        textarea(rows=3)

            .card



            script.
                var $pegSettings = $('#peg-settings tr');
                var $pegs = $('.spinner .peg');

                var updateSpinnerPreview = _.debounce(function () {
                    $pegSettings.each(function (i, pegSetting) {
                        var $pegSetting = $(pegSetting);
                        var $peg = $($pegs[i]);
                        var $paths = $peg.find('svg path');
                        var $numbers = $peg.find('.numbers');

                        var backgroundColor = $pegSetting.find('.background-color').val();
                        var outlineColor = $pegSetting.find('.outline-color').val();
                        var numbersColor = $pegSetting.find('.numbers-color').val();
                        var amount = $pegSetting.find('.amount').val();

                        $($paths[0]).css('fill', outlineColor);
                        $($paths[1]).css('fill', backgroundColor);

                        $numbers.css('color', numbersColor);

                        $numbers.text(amount);
                    });
                }, 300);

                // Update spinner when text amount has changed.
                $pegSettings.on('change', 'input.amount', function () { updateSpinnerPreview(); });

                // COLOR PICKERS
                var colorPickers = document.getElementsByClassName('color-picker-input');
                var changeColorFactory = function(i) {
                    return function(color) {
                        var hexColor = "#" + color;
                        this.target.value = hexColor;

                        updateSpinnerPreview();
                    };
                };

                var updateColorFactory = function (picker) {
                    return function update() { picker.set(this.value).enter(); }
                };

                for (var i = 0; i < colorPickers.length; i++) {
                    var picker = new CP(colorPickers[i]);
                    var update = updateColorFactory(picker);

                    picker.on("change", changeColorFactory(i));

                    picker.target.oncut = update;
                    picker.target.onpaste = update;
                    picker.target.onkeyup = update;
                    picker.target.oninput = update;
                }
