.popup(style="margin: 0 auto 30px;")
    h3 You won %15 off!
    p Enter your email below to get %15 off of your first Monolith notebook!

    form
        input(type="text" name="email" placeholder="user@domain.com")
        button Claim Your Discount
